translate-and-speak.json
[{"id":"311ea52.12c8e5a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"576d4e7f.c0a","type":"inject","z":"311ea52.12c8e5a","name":"Sample Text","topic":"","payload":"This is a demonstration flow for language translation to spoken audio.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":80,"wires":[["2a196357.9ef3cc"]]},{"id":"4cdd1283.ce228c","type":"websocket out","z":"311ea52.12c8e5a","name":"","server":"d2efaa6.a01f558","client":"","x":820,"y":160,"wires":[]},{"id":"f5ab47dc.408288","type":"http in","z":"311ea52.12c8e5a","name":"","url":"/audio","method":"get","swaggerDoc":"","x":130,"y":420,"wires":[["95d92ffc.9fee2"]]},{"id":"9e68be4e.9f066","type":"http response","z":"311ea52.12c8e5a","name":"","x":628.3636646270752,"y":434.63634872436523,"wires":[]},{"id":"95d92ffc.9fee2","type":"template","z":"311ea52.12c8e5a","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"wss://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":422.81817626953125,"y":433.36363220214844,"wires":[["9e68be4e.9f066"]]},{"id":"2a196357.9ef3cc","type":"watson-translator","z":"311ea52.12c8e5a","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":410,"y":160,"wires":[["54ceee2f.8b70b","ba18ae06.86172"]]},{"id":"54ceee2f.8b70b","type":"debug","z":"311ea52.12c8e5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":300,"wires":[]},{"id":"ba18ae06.86172","type":"watson-text-to-speech","z":"311ea52.12c8e5a","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"de-DE_DieterVoice","format":"audio/wav","password":"","apikey":"3F7qQMplqgbP-vgoVNdCRXQCvu_dUdlu_VjIHtms2Ias","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":560,"y":80,"wires":[["46765f25.c610b"]]},{"id":"83627792.f9ba68","type":"websocket in","z":"311ea52.12c8e5a","name":"","server":"77c333da.09b10c","client":"","x":130,"y":280,"wires":[["187029f4.b36f46"]]},{"id":"46765f25.c610b","type":"function","z":"311ea52.12c8e5a","name":"","func":"msg.payload = msg.speech;\ndelete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["4cdd1283.ce228c"]]},{"id":"187029f4.b36f46","type":"function","z":"311ea52.12c8e5a","name":"buf to string","func":"if ( Buffer.isBuffer(msg.payload) )  {\n    msg.payload = msg.payload.toString('utf8');\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["2a196357.9ef3cc","54ceee2f.8b70b"]]},{"id":"d2efaa6.a01f558","type":"websocket-listener","z":"","path":"/ws/audio","wholemsg":"false"},{"id":"77c333da.09b10c","type":"websocket-listener","z":"","path":"/ws/text","wholemsg":"false"}]